<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% extends 'szablon.html' %}

{% block apteka %}
{% if kategoria_user %}
    <span style="font-size: xx-large">{{kategoria_user}}</span>
    <p>{{apteka}}</p>
    <ul>
        {% for lek in apteka %}
            <li>tester</li>
            {% if lek.kategoria == kategoria_user %}
                <li><a href = "/apteka/{{ apteka.id }}/"> {{ lek.nazwa }} </a></li>

            {% else %}
            {% endif %}
        {% endfor %}
    </ul>

{% else %}
    <p>Nie ma takiej kategorii.</p>
{% endif %}
{% endblock apteka%}

</body>
</html>