{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body style="background-color: aqua;">
<style>
    #hello-msg{
    font-size: 20px;
    color: #fff;
    margin-right:20px
</style>

<div>
    <h1>
        <a href="/">  Strona główna  </a>
        <img src="{{obraz.obraz.url}}" alt="Obrazek" width="300" height="100" style="float: right">
            <span style="float: right" id="hello-msg"><a href="{% url 'wylogowywanie' %}" > Wyloguj </a></span>
            <span style="float: right" color="black">Witaj, {{request.user}} </span>
        <form class="f-flex" method=POST action="{% url 'szukaj' %}">
            {% csrf_token %}
            <input class="form-control me-2" type="Search" placeholder="Znajdź lek" aria-label="Search" name="szukane">
            <button class="btn btn-outline-success" type="submit">Szukaj</button>
        </form>
    </h1>
</div>
<div style="clear:both"></div>
<div style="width:200px; float:left">
    <h3> MENU </h3>
    {% for kat in kategorie %}
    <p><a href = "/kategoria/{{ kat.id }}"> {{ kat.nazwa }} </a> </p>
    {% endfor %}
</div>

<div style="width:300; overflow: hidden; float:left">

      {% block apteka %} {% endblock apteka %}
  </div>
<div style="clear:both"></div>

</body>
</html>