{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />

</head>
<body style="background-image:url('{{tlo.obraz.url}}')">

<div style="background-color: grey; min-width: 50%; max-width: 83%; margin-left: 7%;">
{% block navigation %}
    <h1 style="margin-left: 2%;">
        <a href="/">  Strona główna  </a>
        <img src="{{obraz.obraz.url}}" alt="Obrazek" width="300" height="100" style="float: right">
            <span style="float: right" id="hello-msg"><a href="{% url 'wylogowywanie' %}" >  Wyloguj </a></span>
            <span style="float: right" color="black">Witaj, {{request.user}} </span>
        <form class="f-flex" method=POST action="{% url 'szukaj' %}">
            {% csrf_token %}
            <input class="form-control me-2" type="Search" placeholder="Znajdź lek" aria-label="Search" name="szukane">
            <button class="btn btn-outline-success" type="submit">Szukaj</button>
        </form>
    </h1>
{% endblock navigation %}
</div>

<div style="clear:both"></div>
<div style="width:200px; float:left; margin-left: 7%; background-color: grey; max-width: 15%;">
{% block sidebar %}
    <div style="margin-left: 5%;">
    <h2> MENU </h2>
    {% for kat in kategorie %}
    <p class="sidebar-nav"><a href = "/kategoria/{{ kat.id }}"> {{ kat.nazwa }} </a> </p>
    {% endfor %}
    </div>
{% endblock sidebar %}
</div>

<div style="width:200; overflow: hidden; float:center; background-color: grey; max-width: 70%;">

      {% block apteka %} {% endblock apteka %}
  </div>
<div style="clear:both"></div>

</body>
</html>